<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>粒子设置</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>LHHSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>snowEnabled</string>
			<key>label</key>
			<string>粒子效果</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
			<key>nestedEntryCount</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>LHHSliderCell</string>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>numSnowflakes</string>
			<key>default</key>
			<string>30</string>
			<key>max</key>
			<string>200</string>
			<key>min</key>
			<string>0</string>
			<key>isSegmented</key>
			<false/>
			<key>label</key>
			<string>粒子数量</string>
			<key>localizationTable</key>
			<string>ACTIVATION</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>LHHSliderCell</string>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>selfFlake</string>
			<key>default</key>
			<string>0.25</string>
			<key>max</key>
			<string>1</string>
			<key>min</key>
			<string>0</string>
			<key>isSegmented</key>
			<false/>
			<key>label</key>
			<string>粒子大小</string>
			<key>localizationTable</key>
			<string>ACTIVATION</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>LHHSliderCell</string>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>snowheight</string>
			<key>default</key>
			<string>530</string>
			<key>max</key>
			<string>700</string>
			<key>min</key>
			<string>0</string>
			<key>isSegmented</key>
			<false/>
			<key>label</key>
			<string>粒子初始位置</string>
			<key>localizationTable</key>
			<string>ACTIVATION</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>LHHSliderCell</string>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>snowvelocity</string>
			<key>default</key>
			<string>30</string>
			<key>max</key>
			<string>60</string>
			<key>min</key>
			<string>0</string>
			<key>isSegmented</key>
			<false/>
			<key>label</key>
			<string>粒子下落速度</string>
			<key>localizationTable</key>
			<string>ACTIVATION</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>LHHSliderCell</string>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>snowlifetime</string>
			<key>default</key>
			<string>30</string>
			<key>max</key>
			<string>60</string>
			<key>min</key>
			<string>1</string>
			<key>isSegmented</key>
			<false/>
			<key>label</key>
			<string>粒子存在时间</string>
			<key>localizationTable</key>
			<string>ACTIVATION</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>音频可视化</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>LHHSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>enablemshf</string>
			<key>label</key>
			<string>音频可视化</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
			<key>nestedEntryCount</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>LHHSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>EnableFFT</string>
			<key>label</key>
			<string>FFT(频谱分析)</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>LHHColorPickerCell</string>
			<key>fallbackHex</key>
			<string>#EAEAEA:100</string>
			<key>supportsAlpha</key>
			<true/>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>WaveColor</string>
			<key>default</key>
			<string>#EAEAEA</string>
			<key>label</key>
			<string>波形颜色</string>
			<key>localizationTable</key>
			<string>LAYOUT</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>LHHSliderCell</string>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>numberOfPoints</string>
			<key>default</key>
			<string>16</string>
			<key>max</key>
			<string>64</string>
			<key>min</key>
			<string>4</string>
			<key>isSegmented</key>
			<false/>
			<key>label</key>
			<string>波形点数量</string>
			<key>localizationTable</key>
			<string>LAYOUT</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>LHHSliderCell</string>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>widthmshf</string>
			<key>default</key>
			<string>280</string>
			<key>max</key>
			<string>700</string>
			<key>min</key>
			<string>100</string>
			<key>isSegmented</key>
			<false/>
			<key>label</key>
			<string>可视化宽度</string>
			<key>localizationTable</key>
			<string>LAYOUT</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>LHHSliderCell</string>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>waveOffsetX</string>
			<key>default</key>
			<string>0</string>
			<key>max</key>
			<string>200</string>
			<key>min</key>
			<string>-200</string>
			<key>isSegmented</key>
			<false/>
			<key>label</key>
			<string>水平位置</string>
			<key>localizationTable</key>
			<string>LAYOUT</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>LHHSliderCell</string>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>WaveOffset</string>
			<key>default</key>
			<string>-111</string>
			<key>max</key>
			<string>20</string>
			<key>min</key>
			<string>-300</string>
			<key>isSegmented</key>
			<false/>
			<key>label</key>
			<string>垂直位置</string>
			<key>localizationTable</key>
			<string>LAYOUT</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>LHHSliderCell</string>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>Fps</string>
			<key>default</key>
			<string>24</string>
			<key>max</key>
			<string>80</string>
			<key>min</key>
			<string>10</string>
			<key>isSegmented</key>
			<false/>
			<key>label</key>
			<string>每秒帧数</string>
			<key>localizationTable</key>
			<string>LAYOUT</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>LHHSliderCell</string>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>Sensitivity</string>
			<key>default</key>
			<string>1</string>
			<key>max</key>
			<string>4</string>
			<key>min</key>
			<string>0.25</string>
			<key>isSegmented</key>
			<false/>
			<key>label</key>
			<string>灵敏度</string>
			<key>localizationTable</key>
			<string>LAYOUT</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>LHHSliderCell</string>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>Gain</string>
			<key>default</key>
			<string>100</string>
			<key>max</key>
			<string>100</string>
			<key>min</key>
			<string>0</string>
			<key>isSegmented</key>
			<false/>
			<key>label</key>
			<string>信号增益</string>
			<key>localizationTable</key>
			<string>LAYOUT</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>LHHSliderCell</string>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>Limiter</string>
			<key>default</key>
			<string>0</string>
			<key>max</key>
			<string>200</string>
			<key>min</key>
			<string>0</string>
			<key>isSegmented</key>
			<false/>
			<key>label</key>
			<string>限制高度</string>
			<key>localizationTable</key>
			<string>LAYOUT</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>LHHSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>DisableBatterySaver</string>
			<key>label</key>
			<string>保持服务器活跃</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>ReachPlayer @ lhh</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>2023 © nahtedetihw</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
