<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>便捷访问</string>
		</dict>
		<dict><!-- 第二组：点击状态栏开启 -->
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
    		<string>LHHSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>enableGesture</string>
			<key>label</key>
			<string>点击状态栏开启</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
    		<string>LHHSliderCell</string>
			<key>default</key>
			<real>0.3</real>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>reachOffset</string>
			<key>max</key>
			<real>0.75</real>
			<key>min</key>
			<integer>0</integer>
			<key>isSegmented</key>
			<false/>
			<key>label</key>
    		<string>便捷访问高度</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
    		<string>LHHSliderCell</string>
			<key>default</key>
			<real>200</real>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>reachOffsetRP</string>
			<key>max</key>
			<real>500</real>
			<key>min</key>
			<integer>0</integer>
			<key>isSegmented</key>
			<false/>
			<key>label</key>
    		<string>背景图片高度</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
    		<string>LHHSliderCell</string>
			<key>default</key>
			<integer>1800</integer>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>keepAliveDuration</string>
			<key>max</key>
			<integer>1800</integer>
			<key>min</key>
			<integer>1</integer>
			<key>isSegmented</key>
			<false/>
			<key>label</key>
    		<string>持续时间</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>ReachPlayer @ lhh</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>2023 © nahtedetihw</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
