<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
    		<string>LHHSliderCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>positionX</string>
			<key>max</key>
			<integer>200</integer>
			<key>min</key>
			<integer>-200</integer>
			<key>isSegmented</key>
			<false/>
			<key>label</key>
    		<string>整体水平位置</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
    		<string>LHHSliderCell</string>
			<key>default</key>
			<integer>160</integer>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>positionY</string>
			<key>max</key>
			<integer>300</integer>
			<key>min</key>
			<integer>-500</integer>
			<key>isSegmented</key>
			<false/>
			<key>label</key>
    		<string>整体垂直位置</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>专辑设置</string>
		</dict>
		<dict><!-- 第二组：自定义封面 -->
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
    		<string>LHHSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>cover</string>
			<key>label</key>
			<string>自定义专辑封面</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
    		<string>LHHSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>albumCircleView</string>
			<key>label</key>
			<string>圆形专辑</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
			<key>nestedEntryCount</key>
    		<integer>3</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
    		<string>LHHSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>showOverlay</string>
			<key>label</key>
			<string>专辑唱片</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
    		<string>LHHSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>albumRotating</string>
			<key>label</key>
			<string>专辑旋转</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
			<key>nestedEntryCount</key>
    		<integer>1</integer>
		</dict>
		<dict><!-- 第二组：旋转速度 -->
    		<key>cell</key>
    		<string>PSSliderCell</string>
    		<key>cellClass</key>
    		<string>LHHSliderCell</string>
    		<key>defaults</key>
    		<string>com.lhh.reachplayerprefs</string>
    		<key>key</key>
    		<string>baseRotationSpeed</string>
    		<key>default</key>
    		<string>6</string>
			<key>max</key>
    		<string>30</string>
    		<key>min</key>
    		<string>1</string>
    		<key>isSegmented</key>
    		<false/>
    		<key>label</key>
    		<string>旋转速度</string>
    		<key>localizationTable</key>
    		<string>LAYOUT</string>
    		<key>PostNotification</key>
    		<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>专辑位置</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
    		<string>LHHSliderCell</string>
			<key>default</key>
			<integer>100</integer>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>artworkSize</string>
			<key>max</key>
			<integer>300</integer>
			<key>min</key>
			<integer>0</integer>
			<key>isSegmented</key>
			<false/>
			<key>label</key>
    		<string>专辑大小</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
			<key>localizationTable</key>
    		<string>LAYOUT</string>		
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
    		<string>LHHSliderCell</string>
			<key>default</key>
			<integer>-45</integer>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>albumArtworkViewX</string>
			<key>max</key>
			<integer>200</integer>
			<key>min</key>
			<integer>-200</integer>
			<key>isSegmented</key>
			<false/>
			<key>label</key>
    		<string>专辑水平位置</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
    		<string>LHHSliderCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>albumArtworkViewY</string>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<integer>-100</integer>
			<key>isSegmented</key>
			<false/>
			<key>label</key>
    		<string>专辑垂直位置</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
    		<string>LHHSliderCell</string>
			<key>default</key>
			<integer>15</integer>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>tonearmViewX</string>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<integer>-100</integer>
			<key>isSegmented</key>
			<false/>
			<key>label</key>
    		<string>唱针水平位置</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
    		<string>LHHSliderCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>tonearmViewY</string>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<integer>-100</integer>
			<key>isSegmented</key>
			<false/>
			<key>label</key>
    		<string>唱针垂直位置</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict><!-- 第三组：歌词设置 -->
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>歌词设置</string>
		</dict>
		<dict><!-- 第三组：歌词颜色 -->
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>LHHColorPickerCell</string>
			<key>fallbackHex</key>        <!-- This cell supports both of the hex formatting styles '#RRGGBBAA' -->
			<string>#FFFFFF:100</string>  <!-- and '#RRGGBB:AA', but saves as only '#RRGGBBAA' -->
			<key>supportsAlpha</key>      <!-- Enable or disable Alpha -->
			<true/>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>textColor</string>
			<key>default</key>
			<string>#FFFFFF</string>
			<key>label</key>
			<string>字体颜色</string>
			<key>localizationTable</key>  <!-- Optional key used for localization -->
			<string>LAYOUT</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict><!-- 第二组：字体大小 -->
    		<key>cell</key>
    		<string>PSSliderCell</string>
    		<key>cellClass</key>
    		<string>LHHSliderCell</string>
    		<key>defaults</key>
    		<string>com.lhh.reachplayerprefs</string>
    		<key>key</key>
    		<string>fontOfSize</string>
    		<key>default</key>
    		<string>20</string>
			<key>max</key>
    		<string>40</string>
    		<key>min</key>
    		<string>0</string>
    		<key>isSegmented</key>
    		<false/>
    		<key>label</key>
    		<string>字体大小</string>
    		<key>localizationTable</key>
    		<string>LAYOUT</string>
    		<key>PostNotification</key>
    		<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict><!-- 第二组：歌词宽度 -->
    		<key>cell</key>
    		<string>PSSliderCell</string>
    		<key>cellClass</key>
    		<string>LHHSliderCell</string>
    		<key>defaults</key>
    		<string>com.lhh.reachplayerprefs</string>
    		<key>key</key>
    		<string>tagLengthRP</string>
    		<key>default</key>
    		<string>200</string>
			<key>max</key>
    		<string>400</string>
    		<key>min</key>
    		<string>10</string>
    		<key>isSegmented</key>
    		<false/>
    		<key>label</key>
    		<string>歌词宽度</string>
    		<key>localizationTable</key>
    		<string>LAYOUT</string>
    		<key>PostNotification</key>
    		<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict><!-- 第二组：标签间距 -->
    		<key>cell</key>
    		<string>PSSliderCell</string>
    		<key>cellClass</key>
    		<string>LHHSliderCell</string>
    		<key>defaults</key>
    		<string>com.lhh.reachplayerprefs</string>
    		<key>key</key>
    		<string>spac</string>
    		<key>default</key>
    		<string>5</string>
			<key>max</key>
    		<string>10</string>
    		<key>min</key>
    		<string>0</string>
    		<key>isSegmented</key>
    		<false/>
    		<key>label</key>
    		<string>标签间距</string>
    		<key>localizationTable</key>
    		<string>LAYOUT</string>
    		<key>PostNotification</key>
    		<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict><!-- 第二组：歌词水平位置 -->
    		<key>cell</key>
    		<string>PSSliderCell</string>
    		<key>cellClass</key>
    		<string>LHHSliderCell</string>
    		<key>defaults</key>
    		<string>com.lhh.reachplayerprefs</string>
    		<key>key</key>
    		<string>lyricsLabelX</string>
    		<key>default</key>
    		<string>0</string>
			<key>max</key>
    		<string>200</string>
    		<key>min</key>
    		<string>-200</string>
    		<key>isSegmented</key>
    		<false/>
    		<key>label</key>
    		<string>歌词水平位置</string>
    		<key>localizationTable</key>
    		<string>LAYOUT</string>
    		<key>PostNotification</key>
    		<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict><!-- 第二组：歌词垂直位置 -->
    		<key>cell</key>
    		<string>PSSliderCell</string>
    		<key>cellClass</key>
    		<string>LHHSliderCell</string>
    		<key>defaults</key>
    		<string>com.lhh.reachplayerprefs</string>
    		<key>key</key>
    		<string>lyricsLabelY</string>
    		<key>default</key>
    		<string>-10</string>
			<key>max</key>
    		<string>200</string>
    		<key>min</key>
    		<string>-200</string>
    		<key>isSegmented</key>
    		<false/>
    		<key>label</key>
    		<string>歌词垂直位置</string>
    		<key>localizationTable</key>
    		<string>LAYOUT</string>
    		<key>PostNotification</key>
    		<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
    		<string>LHHSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>AlignmentCenter</string>
			<key>label</key>
			<string>歌词居中显示</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
    		<string>LHHSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>myfont</string>
			<key>label</key>
			<string>自定义歌词字体</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>

		<dict><!-- 第五组：按钮设置 -->
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>按钮设置</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
    		<string>LHHSliderCell</string>
			<key>default</key>
			<integer>-70</integer>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>buttonOffsetX</string>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<integer>-400</integer>
			<key>isSegmented</key>
			<false/>
			<key>label</key>
    		<string>按钮水平位置</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
    		<string>LHHSliderCell</string>
			<key>default</key>
			<integer>50</integer>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>buttonOffsetY</string>
			<key>max</key>
			<integer>300</integer>
			<key>min</key>
			<integer>-300</integer>
			<key>isSegmented</key>
			<false/>
			<key>label</key>
    		<string>按钮垂直位置</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict><!-- 第二组：按钮间距 -->
    		<key>cell</key>
    		<string>PSSliderCell</string>
    		<key>cellClass</key>
    		<string>LHHSliderCell</string>
    		<key>defaults</key>
    		<string>com.lhh.reachplayerprefs</string>
    		<key>key</key>
    		<string>buttonSpacing</string>
    		<key>default</key>
    		<string>100</string>
			<key>max</key>
    		<string>100</string>
    		<key>min</key>
    		<string>-60</string>
    		<key>isSegmented</key>
    		<false/>
    		<key>label</key>
    		<string>按钮间距</string>
    		<key>localizationTable</key>
    		<string>LAYOUT</string>
    		<key>PostNotification</key>
    		<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict><!-- 第二组：按钮大小 -->
    		<key>cell</key>
    		<string>PSSliderCell</string>
    		<key>cellClass</key>
    		<string>LHHSliderCell</string>
    		<key>defaults</key>
    		<string>com.lhh.reachplayerprefs</string>
    		<key>key</key>
    		<string>buttonSize</string>
    		<key>default</key>
    		<string>40</string>
			<key>max</key>
    		<string>60</string>
    		<key>min</key>
    		<string>0</string>
    		<key>isSegmented</key>
    		<false/>
    		<key>label</key>
    		<string>按钮大小</string>
    		<key>localizationTable</key>
    		<string>LAYOUT</string>
    		<key>PostNotification</key>
    		<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
    		<string>LHHSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>Vibration</string>
			<key>label</key>
			<string>按钮震动</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict><!-- 第六组：进度条设置 -->
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>进度条设置</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
    		<string>LHHSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>Progress</string>
			<key>label</key>
			<string>进度条显示</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
			<key>nestedEntryCount</key>
    		<integer>10</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>LHHColorPickerCell</string>
			<key>fallbackHex</key>        <!-- This cell supports both of the hex formatting styles '#RRGGBBAA' -->
			<string>#275FF4:100</string>  <!-- and '#RRGGBB:AA', but saves as only '#RRGGBBAA' -->
			<key>supportsAlpha</key>      <!-- Enable or disable Alpha -->
			<true/>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>elapsedColor</string>
			<key>default</key>
			<string>#275FF4</string>
			<key>label</key>
			<string>播放进度颜色</string>
			<key>localizationTable</key>  <!-- Optional key used for localization -->
			<string>LAYOUT</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>LHHColorPickerCell</string>
			<key>fallbackHex</key>        <!-- This cell supports both of the hex formatting styles '#RRGGBBAA' -->
			<string>#d3d3d3:100</string>  <!-- and '#RRGGBB:AA', but saves as only '#RRGGBBAA' -->
			<key>supportsAlpha</key>      <!-- Enable or disable Alpha -->
			<true/>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>remainingColor</string>
			<key>default</key>
			<string>#d3d3d3</string>
			<key>label</key>
			<string>剩余进度颜色</string>
			<key>localizationTable</key>  <!-- Optional key used for localization -->
			<string>LAYOUT</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>LHHColorPickerCell</string>
			<key>fallbackHex</key>        <!-- This cell supports both of the hex formatting styles '#RRGGBBAA' -->
			<string>#000000:100</string>  <!-- and '#RRGGBB:AA', but saves as only '#RRGGBBAA' -->
			<key>supportsAlpha</key>      <!-- Enable or disable Alpha -->
			<true/>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>elapsedLabelColor</string>
			<key>default</key>
			<string>#000000</string>
			<key>label</key>
			<string>播放时间颜色</string>
			<key>localizationTable</key>  <!-- Optional key used for localization -->
			<string>LAYOUT</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>LHHColorPickerCell</string>
			<key>fallbackHex</key>        <!-- This cell supports both of the hex formatting styles '#RRGGBBAA' -->
			<string>#000000:100</string>  <!-- and '#RRGGBB:AA', but saves as only '#RRGGBBAA' -->
			<key>supportsAlpha</key>      <!-- Enable or disable Alpha -->
			<true/>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>remainingLabelColor</string>
			<key>default</key>
			<string>#000000</string>
			<key>label</key>
			<string>歌曲时间颜色</string>
			<key>localizationTable</key>  <!-- Optional key used for localization -->
			<string>LAYOUT</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>LHHColorPickerCell</string>
			<key>fallbackHex</key>        <!-- This cell supports both of the hex formatting styles '#RRGGBBAA' -->
			<string>#EB4D3D:100</string>  <!-- and '#RRGGBB:AA', but saves as only '#RRGGBBAA' -->
			<key>supportsAlpha</key>      <!-- Enable or disable Alpha -->
			<true/>
			<key>defaults</key>
			<string>com.lhh.reachplayerprefs</string>
			<key>key</key>
			<string>knobColor</string>
			<key>default</key>
			<string>#EB4D3D</string>
			<key>label</key>
			<string>旋钮颜色</string>
			<key>localizationTable</key>  <!-- Optional key used for localization -->
			<string>LAYOUT</string>
			<key>PostNotification</key>
			<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict><!-- 第二组：进度条宽度 -->
    		<key>cell</key>
    		<string>PSSliderCell</string>
    		<key>cellClass</key>
    		<string>LHHSliderCell</string>
    		<key>defaults</key>
    		<string>com.lhh.reachplayerprefs</string>
    		<key>key</key>
    		<string>progresswidth</string>
    		<key>default</key>
    		<string>170</string>
			<key>max</key>
    		<string>300</string>
    		<key>min</key>
    		<string>100</string>
    		<key>isSegmented</key>
    		<false/>
    		<key>label</key>
    		<string>进度条宽度</string>
    		<key>localizationTable</key>
    		<string>LAYOUT</string>
    		<key>PostNotification</key>
    		<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict><!-- 第二组：进度条宽度 -->
    		<key>cell</key>
    		<string>PSSliderCell</string>  <!-- 使用滑块类型的单元格 -->
    		<key>cellClass</key>
    		<string>LHHSliderCell</string>  <!-- 自定义滑块单元格类名 -->
    		<!-- 偏好设置相关配置 -->
    		<key>defaults</key>
    		<string>com.lhh.reachplayerprefs</string>  <!-- 存储偏好设置的域 -->
    		<key>key</key>
    		<string>ToConstant</string>  <!-- 偏好设置中对应的键名 -->
    		<key>default</key>
    		<string>3</string>  <!-- 默认值(1表示完全不透明) -->
			<key>max</key>
    		<string>5</string>  <!-- 最大值(1表示完全不透明) -->
    		<key>min</key>
    		<string>1</string>  <!-- 最小值(0表示完全透明) -->
    		<key>isSegmented</key>
    		<false/>  <!-- 不是分段式滑块 -->
    		<key>label</key>
    		<string>进度条高度</string>  <!-- 显示在滑块上方的标签文本 -->
    		<key>localizationTable</key>
    		<string>LAYOUT</string>  <!-- 本地化字符串表名称 -->
    		<key>PostNotification</key>
    		<string>com.lhh.reachplayerprefs/ReloadPrefs</string>  <!-- 值改变时发送的通知 -->
		</dict>
		<dict><!-- 第二组：进度条标签大小 -->
    		<key>cell</key>
    		<string>PSSliderCell</string>  <!-- 使用滑块类型的单元格 -->
    		<key>cellClass</key>
    		<string>LHHSliderCell</string>  <!-- 自定义滑块单元格类名 -->
    		<!-- 偏好设置相关配置 -->
    		<key>defaults</key>
    		<string>com.lhh.reachplayerprefs</string>  <!-- 存储偏好设置的域 -->
    		<key>key</key>
    		<string>FontOfSize</string>  <!-- 偏好设置中对应的键名 -->
    		<key>default</key>
    		<string>13</string>  <!-- 默认值(1表示完全不透明) -->
			<key>max</key>
    		<string>30</string>  <!-- 最大值(1表示完全不透明) -->
    		<key>min</key>
    		<string>0</string>  <!-- 最小值(0表示完全透明) -->
    		<key>isSegmented</key>
    		<false/>  <!-- 不是分段式滑块 -->
    		<key>label</key>
    		<string>进度条标签大小</string>  <!-- 显示在滑块上方的标签文本 -->
    		<key>localizationTable</key>
    		<string>LAYOUT</string>  <!-- 本地化字符串表名称 -->
    		<key>PostNotification</key>
    		<string>com.lhh.reachplayerprefs/ReloadPrefs</string>  <!-- 值改变时发送的通知 -->
		</dict>
		<dict><!-- 第二组：进度条水平位置 -->
    		<key>cell</key>
    		<string>PSSliderCell</string>
    		<key>cellClass</key>
    		<string>LHHSliderCell</string>
    		<key>defaults</key>
    		<string>com.lhh.reachplayerprefs</string>
    		<key>key</key>
    		<string>progressX</string>
    		<key>default</key>
    		<string>75</string>
			<key>max</key>
    		<string>200</string>
    		<key>min</key>
    		<string>-200</string>
    		<key>isSegmented</key>
    		<false/>
    		<key>label</key>
    		<string>进度条水平位置</string>
    		<key>localizationTable</key>
    		<string>LAYOUT</string>
    		<key>PostNotification</key>
    		<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>

		<dict><!-- 第二组：进度条垂直位置 -->
    		<key>cell</key>
    		<string>PSSliderCell</string>
    		<key>cellClass</key>
    		<string>LHHSliderCell</string>
    		<key>defaults</key>
    		<string>com.lhh.reachplayerprefs</string>
    		<key>key</key>
    		<string>progressY</string>
    		<key>default</key>
    		<string>75</string>
			<key>max</key>
    		<string>150</string>
    		<key>min</key>
    		<string>-150</string>
    		<key>isSegmented</key>
    		<false/>
    		<key>label</key>
    		<string>进度条垂直位置</string>
    		<key>localizationTable</key>
    		<string>LAYOUT</string>
    		<key>PostNotification</key>
    		<string>com.lhh.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>ReachPlayer @ lhh</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>2023 © nahtedetihw</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
